<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand color-blue" href="#">
   LOGO
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link color-text dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          En venta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Casas</a>
          <a class="dropdown-item" href="#">Apartamentos</a>
          <a class="dropdown-item" href="#">Oficinas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Desarrollos Nuevos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link color-text dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          En Alquiler
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Brokers</a>
          <a class="dropdown-item" href="#">Dueños</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link color-text dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hipoteca
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Entidades Financieras</a>
          <a class="dropdown-item" href="#">Buscar Preaprobación</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link color-text dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Necesito Ayuda
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Guia para comprar una propiedad</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-lg btn-circle btn-outline-success my-2 my-sm-0" type="submit">Ver Siguiente</button>
    </form>
  </div>
</nav>
