<div class="card border-light mt-4 mb-3" style="max-width: 100%;">
  <div class="card-header">
    <strong class="colorblue">
     {{properties.title}}
    </strong>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <p class="card-text col-md-4">
          {{properties.address}}
        </p>
        <p class="col-md-4"></p>
        <h3 class="card-title col-md-4">{{properties.currency}} {{properties.price}}</h3>
      </div>
    </div>

  </div>
</div>

<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
        <h5 class="mb-0">
          Descripcion <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body">
       {{properties.description}}
      </div>
    </div>

  </div>
  <!-- Accordion card -->
</div>


<div class="card border-light mt-4 mb-3" style="max-width: 100%;">
  <div class="card-header">
    <strong class="colorblue">
     Detalles de la propiedad
    </strong>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class=" col-md-4">
          <div class="media">
            <bi name="house" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Tipo de domicilio</h5>
               <p>{{properties.details.type}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <bi name="sort-up" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Niveles</h5>
               <p>{{properties.details.floors}}</p>
            </div>
          </div>
        </div>
        <div class="card-title col-md-4">
          <div class="media">
            <bi name="house" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Tamaño</h5>
               <p>{{properties.details.size}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-4">
          <div class="media">
            <bi name="truck" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Cochera</h5>
               <p>{{properties.details.parking}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <bi name="pip" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Habitaciones</h5>
               <p>{{properties.details.bedrooms}}</p>
            </div>
          </div>
        </div>
        <div class="card-title col-md-4">
          <div class="media">
            <bi name="house-fill" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Baños</h5>
               <p>{{properties.details.bathrooms}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-4">
          <div class="media">
            <bi name="house" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Aire Acondicionado</h5>
               <p>{{properties.details.air_conditioner | booleanTransform}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <bi name="sort-up" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Terraza</h5>
               <p>{{properties.details.terrace | booleanTransform}}</p>
            </div>
          </div>
        </div>
        <div class="card-title col-md-4">
          <div class="media">
            <bi name="house" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Jardin</h5>
               <p>{{properties.details.backyard | booleanTransform}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-4">
          <div class="media">
            <bi name="door-open" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Cuarto de servicio</h5>
               <p>{{properties.details.service_room | booleanTransform}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <bi name="diagram-2-fill" class="big fill icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Bodega</h5>
               <p>{{properties.details.warehouse | booleanTransform}}</p>
            </div>
          </div>
        </div>
        <div class="card-title col-md-4">
          <div class="media">
            <bi name="shield-check" class="big fill-light icon-color"></bi>
            <div class="media-body">
              <h5 class="mt-0">Seguridad</h5>
               <p>{{properties.details.security | booleanTransform}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


